<p>
  <b>Name:</b>
  <%=h @severity.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @severity.description %>
</p>


<%= link_to 'Edit', edit_severity_path(@severity) %> |
<%= link_to 'Back', severities_path %>